@charset "UTF-8";
/* CSS Document */

	
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
	
html {
    background-image: url("../images/webDevbackground.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
#table {
    background-color: #185a6f;
}
.head {
    background-color: #bb514f;
}
table {
    margin-left: 20%;
    padding: 20px;
    position: relative;
    align-content: center;
    display: inline-grid;
    color: aliceblue;
}
td {
padding-left;
25px;
    width: 100px;
    text-align: center;
}
td {
    background-color: #0B7780;
}
table tr:nth-child(0) td {
    background-color: white;
    color: white
}
table tr:nth-child(2) td {
    background-color: lightgreen;
}
table tr:nth-child(11) td {
    background-color: deeppink;
    color: white
}
table tr:nth-child(13) td {
    background-color: #18516F;
    color: white
}
table tr:nth-child(14) td {
    background-color: #18516F;
    color: white
}
table tr:nth-child(15) td {
    background-color: #18516F;
    color: white
}
table tr:nth-child(17) td {
    background-color: #bb514f;
    color: white
}
table tr:nth-child(18) td {
    background-color: #bb514f;
    color: white
}
table tr:nth-child(19) td {
    background-color: #bb514f;
    color: white
}
table tr:nth-child(21) td {
    background-color: #245558;
    color: white
}
table tr:nth-child(22) td {
    background-color: #245558;
    color: white
}
table tr:nth-child(23) td {
    background-color: #245558;
    color: white
}
table tr:nth-child(24) td {
    background-color: blueviolet;
    color: white
}
table tr:nth-child(26) td {
    background-color: #bb514f;
    color: white
}
table tr:nth-child(27) td {
    background-color: #bb514f;
    color: white
}
table tr:nth-child(28) td {
    background-color: #bb514f;
    color: white
}
tr {
    padding-left: 50px;
    margin: 50%;
    align-content: center;
}
/* Navigation Bar*/
.topnav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    color: white;
    text-align: center;
	font-family:  'Josefin Sans', sans-serif; 
    z-index: 99;
}
.topnav a {
    float: left;
    color: #f2f2f2;
    padding: 20px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #F6921F;
    color: black;
}
.topnav a.active {
    background-color: #333;
    color: white;
}
.banner {
    position: absolute;
    width: 100%;
    background-color: #333;
    height: 50px;
    text-align: center;
    color: aliceblue;
}
.bottom {
    color: white;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    color: white;
    text-align: center;
    z-index: 99;
}
